@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /* about section  */
  .about{
    border-radius: 10px;
    padding: 68px 150px 86px 150px;
    text-align: center;
    margin: 130px;
}
/* banner style  */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 300px;
    margin: 0px 272px;
}
.nav button {
    padding: 15px 27px 15px 27px;
    font-size: 18px;
    border-radius: 8px;
    
}
.nav h2{
    font-family: "Open Sans", sans-serif;
}
.banner {
    background-image: url(../assets/Hero-bg.png);
    height: 534px;
    text-align: center;
    font-family: "Open Sans", sans-serif;

}
.banner-section {
    margin: 0px 200px 0px 200px;
}
.banner-header {
    margin: 22px 404px;
}
.banner-dacoration {
    margin: 22px 418px;
    opacity: 0.7;
}
.banner-btn {
    border-radius: 8px;
    padding: 16px 38px;
    font-size: 25px;
    background: #000;
    color: #fff;
}
/* Development style  */
main{
    font-family: "Open Sans", sans-serif;
}
.development {
    padding: 20px 251px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.section-title{
    color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
}
.section-description{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
opacity: 0.7;
}
.development-section {
    display: flex;
    gap: 200px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin-top: 22px;
    padding: 6px 22px;
}
.section-caption {
    text-align: left;
    width: 690px;
    height: 235px;
}
.caption-title{
    color: rgba(13, 19, 33, 0.7);
    line-height: 36px;
}
.caption-description{
    color: rgb(13, 19, 33);
    font-size: 14px;
    opacity: 0.7;
    line-height: 26px;
}
.caption-btn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 10px;
}
/* inspiration style  */
.inspiration {
    margin-top: -119px;
    height: 800px;
}
.inspiration-header {
    padding: 20px 99px;
}
.inspiration-title{
    color: rgb(13, 19, 33);
    font-size: 32px;
    line-height: 37px;

}
.inspiration-description{
    color: rgb(13, 19, 33);;
    font-size: 16px;
    line-height: 26px;
    opacity: 0.7;
}
.inspiration-footer {
    margin-left: -65px;
    border: 1px solid #000;
    padding: 20px 0px 20px 0px;
    border-radius: 20px;
}
.inspiration-footer iframe {
    border-radius: 20px;
    width: 96%;
}
/* current-target style  */
.current-target-top{
        padding: 20px 99px;
}
.current-target-bottom {
    display: flex;
    gap: 26px;
    text-align: left;
}
.current-target-part1 {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 22px;
    height: 259px;
}
.current-target-part1 h2 {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: bold;
    line-height: 38px;
    text-align: left;
}
.current-target-part1 p{
    color: rgb(13, 19, 33);
font-size: 16px;
line-height: 26px;
text-align: left;
opacity: 0.7;
}
.current-target-part1 a{
    color: rgb(13, 19, 33);
font-size: 16px;
line-height: 19px;
text-align: left;
}
.current-target-part2{
    border-radius: 16px;

    background: rgba(0, 76, 232, 0.05);
    padding: 22px;
    height: 259px;
}
.current-target-part2 h2 {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: bold;
    line-height: 38px;
    text-align: left;
}
.current-target-part2 p{
    color: rgb(13, 19, 33);
font-size: 16px;
line-height: 26px;
text-align: left;
opacity: 0.7;
}
.current-target-part2 a{
    color: rgb(13, 19, 33);
font-size: 16px;
line-height: 19px;
text-align: left;
}
.current-target-part3{
    border-radius: 16px;

    background: rgba(255, 223, 0, 0.05);
    padding: 22px;
    height: 259px;
}
.current-target-part3 h2 {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: bold;
    line-height: 38px;
    text-align: left;
}
.current-target-part3 p{
    color: rgb(13, 19, 33);
font-size: 16px;
line-height: 26px;
text-align: left;
opacity: 0.7;
}
.current-target-part3 a{
    color: rgb(13, 19, 33);
font-size: 16px;
line-height: 19px;
text-align: left;
}
/* next target style  */
.next-target {
    padding: 20px 21px;
}
.next-target-bottom{
    gap: 26px;
    text-align: left;
}

.next-target-part1 {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 10px 108px;
    margin: 36px 0px;

}
.bottom-part a{
    color: rgb(13, 19, 33);
font-size: 16px;
line-height: 19px;
text-align: left;
}
.bottom-part h2{
    color: rgb(13, 19, 33);
font-size: 24px;
line-height: 36px;
text-align: left;
}
.bottom-part p{
    color: rgb(13, 19, 33);
opacity: 0.7;
font-size: 16px;

line-height: 26px;

text-align: left;
}
.next-target-part2 {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 10px 108px;
    margin: 36px 0px;

}
.next-target-part3 {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 10px 108px;
    margin: 36px 0px;

}





